<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: site-head"></head>
<body class="bg-dark" ng-app="app" ng-controller="RegisterController">
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">
            Register an Account
        </div>
        <div class="card-body">
            <form id="registerForm" role="form" modelAttribute="userVO" name="registerForm" ng-submit="registerUser()">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="userName">User name</label>
                            <input type="text" class="form-control" id="userName" aria-describedby="nameHelp"
                                   name="userName"
                                   ng-model="user.userName"
                                   placeholder="Enter user name" required="required"/>
                            <label class="help-block" ng-if="registerForm.userName.$error.required">User Name is
                                required.</label>
                        </div>
                        <div class="col-md-6">
                            <label for="emailId">Email Id</label>
                            <input type="email"
                                   class="form-control form-control"
                                   id="emailId" name="emailId"
                                   ng-model="user.email"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter email"
                                   required="required"/>
                            <label class="help-block" ng-if="registerForm.emailId.$error.required">Email Id is
                                required.</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   ng-model="user.password"
                                   placeholder="Password" required="required"/>
                            <label class="help-block" ng-if="registerForm.userName.$error.required">Password is
                                required.</label>
                        </div>
                        <div class="col-md-6">
                            <label for="confirmPassword">Confirm password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                   ng-model="user.confirmPassword"
                                   placeholder="Confirm password" required="required"/>
                            <label class="help-block" ng-if="registerForm.userName.$error.required">Confirm password is
                                required.</label>
                        </div>
                    </div>
                </div>
                <div id="register-message"></div>
                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}"/>
                <button type="submit" class="btn btn-primary btn-block" ng-disabled="registerForm.$invalid"><i
                        class="fa fa-check" aria-hidden="true"></i> Register
                </button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" th:href="@{/login}">Login Page</a>
                <a class="d-block small" th:href="@{/forgot-password}">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
<site-script th:replace="layout :: site-script"></site-script>
</body>
</html>
